<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onIncrement()">Increment</button>
      <button class="btn btn-primary ms-3" (click)="onIncrementByFive()">
        Increment +5
      </button>
      <button class="btn btn-danger mx-3" (click)="onDecrement()">
        Decrement
      </button>
      <button class="btn btn-danger me-3" (click)="onDecrementbyFive()">
        Decrement -5
      </button>
      <button class="btn btn-dark" (click)="onReset()">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-center">
          <input
            class="form-control w-25"
            placeholder="Add random count"
            name="count"
            type="number"
            [(ngModel)]="count"
          />
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
